@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel='stylesheet' href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("normalize.css"))'>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.pjax.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("tab.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("run_prettify.min.js"))"></script>
    </head>
    <body lang="en">
        @content
    </body>
</html>
